
body
{
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border-color: #f4f4f9;
  color: #333; 

}
header
{
    background-color: black;
    color: white;
   padding: 8px;
   text-align: center;
}

nav ul
{
   list-style: none;
   padding: 0;
   display: flex;
   justify-content: center;
   gap: 20px;
   transition: background-color 3s;
}
nav a
{
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
}
nav a:hover /* a:hover*/
{
 background-color: red;
 border-radius: 5px;
}
main 
{
 display: flex;
 max-width: 1600px;
 margin: 15px auto;
 padding: 10PX;
 gap: 30px;
 justify-content: center;
 align-items: flex-start;
}
section
{
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}
input 
{
    width: 100%;
    padding: 10px 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}