
body
{
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border-color: #f4f4f9;
  color: #333; 

}
header
{
    background-color: black;
    color: white;
   padding: 8px;
   text-align: center;
}

nav ul
{
   list-style: none;
   padding: 0;
   display: flex;
   justify-content: center;
   gap: 20px;
   transition: background-color 3s;
}
nav a
{
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
}
nav a:hover /* a:hover*/
{
 background-color: red;
 border-radius: 5px;
}
main 
{
 display: flex;
 max-width: 1600px;
 margin: 15px auto;
 padding: 10PX;
 gap: 30px;
 justify-content: center;
 align-items: flex-start;
}
table
{
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  table-layout: auto; /* Permite que las columnas se ajusten al contenido */
}
th, td 
{
  border-width: 1;
  border-style: solid;  
  border-color:  blue;
  text-align: center; 
  padding: 10px;
}
/* Columna de acciones más ancha para que los botones no se sobreescriban */
th:last-child, td:last-child 
{
  min-width: 180px; /* Ajusta este valor según tus necesidades */
  white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
}
.accionesButton
{
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  margin: 0 5px;
    display: inline-block; /* Asegura que los botones se comporten correctamente */
  cursor: pointer;
}
